In [1]:
print('Hello world')

Hello world

In [2]:
name=input('Emter your name: ? ')
print("Hello "+ name)

Emter your name: ? seemab
Hello seemab

In [3]:
old=input('Enter old age')
new=int(old)+2
print('new age is: ', new)

Enter old age22
new age is:  24

In [4]:
old=input('Enter old age : ')
new=input('Enter 2nd age : ')
sum = float(old) + float(new)
print("sum of both is : "+ str(sum))

Enter old age : 2
Enter 2nd age : 22
sum of both is : 24.0

In [1]:
"ali"*3

'alialiali'

In [3]:
"ali" + str(3)

'ali3'

In [5]:
len("ali")

3

In [7]:
# string indexing

name= "ahmed"
print(name[1])

h

In [8]:
print(name[-1])

d

In [9]:
# string slicing

print(name[1:3])

hm

In [10]:
name.index("h")

1

In [14]:
def student_grade(name, grade):
	return ( name," recieved ", str(grade), " on the exam ".format(name=name , grade=grade))
	
print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

('Reed', ' recieved ', '80', ' on the exam ')
('Paige', ' recieved ', '92', ' on the exam ')
('Jesse', ' recieved ', '85', ' on the exam ')

In [27]:
def convert_distance(miles):
    km = miles * 1.6 
    result = (miles , "miles equals ",km )
    return result


print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

(12, 'miles equals ', 19.200000000000003)
(5.5, 'miles equals ', 8.8)
(11, 'miles equals ', 17.6)

In [30]:
Weather="rainfall"
print(Weather[:4])

rain

In [37]:
multiples=[]
for x in range(1,11):
    multiples.append(x*7)
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [38]:
file_counts={"jpg": 10 , "txt":14, "csv": 2, "py": 23}
for extensions in file_counts:
    print(extensions)

jpg
txt
csv
py