In [1]:
for x in range (5) :
    print(x)

0
1
2
3
4

In [5]:
friends =['Ali', 'Ahem', 'aoo', 'Aee']
for friend in friends : 
    print('hi ' + friend)

hi Ali
hi Ahem
hi aoo
hi Aee

In [8]:
values=[20,30,40,50]
Sum = 0
length = 0
for value in values:
    Sum+=value
    length+=1
    
print("Total sum  :", str(Sum), " - Average", str(Sum/length))

Total sum  : 140  - Average 35.0

In [9]:
product=1
for n in range (1,10):
    product=product*n
    
print(product)

362880

In [10]:
def to_celcius(x):
    return (x-32)*5/9

for x in range (0, 101, 10):
    print(x, to_celcius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [20]:
for left in range (7):
    print(left)
    for right in range(left,7):
        print(right)
        print("[" + str(left) + "]" + "["+ str(right) + "]", end=" "  )

0
0
[0][0] 1
[0][1] 2
[0][2] 3
[0][3] 4
[0][4] 5
[0][5] 6
[0][6] 1
1
[1][1] 2
[1][2] 3
[1][3] 4
[1][4] 5
[1][5] 6
[1][6] 2
2
[2][2] 3
[2][3] 4
[2][4] 5
[2][5] 6
[2][6] 3
3
[3][3] 4
[3][4] 5
[3][5] 6
[3][6] 4
4
[4][4] 5
[4][5] 6
[4][6] 5
5
[5][5] 6
[5][6] 6
6
[6][6]

In [22]:
teams = ["aliabad", " mabad", "aliabad", "kabad"]
for home_teams in teams :
    for away_teams in teams :
        if home_teams!=away_teams:
            print(home_teams ," vs ", away_teams)

aliabad  vs   mabad
aliabad  vs  kabad
 mabad  vs  aliabad
 mabad  vs  aliabad
 mabad  vs  kabad
aliabad  vs   mabad
aliabad  vs  kabad
kabad  vs  aliabad
kabad  vs   mabad
kabad  vs  aliabad

In [32]:
for n in range(6,19,3):
    print(n*2)

12
18
24
30
36

In [37]:
for n in range(18+1):
    if n%2==0:
        print(n)

0
2
4
6
8
10
12
14
16
18

In [38]:
for n in range(1,10):
  print(n**3)

1
8
27
64
125
216
343
512
729

In [39]:
for n in range(0, 101, 7):
    print(n)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [40]:
for n in range(0, 101, 7):
    print(n)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [50]:
for n in range(0, 18+1,2):
    print(n)

0
2
4
6
8
10
12
14
16
18

In [43]:
for n in range(18+1):
    print(n**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324

In [46]:
for n in range(19):
    if n%2==0:
        print(n)

0
2
4
6
8
10
12
14
16
18

In [47]:
for n in range (0,18+1,2):
    print(n*2)

0
4
8
12
16
20
24
28
32
36

In [48]:
for i in range(10):
    print(n+n)

36
36
36
36
36
36
36
36
36
36